:root {
  --argentinian-blue: #35A7FF;
  --screamin-green: #6BF178;
  --white: #FFFFFF;
  --bright-pink: #FF5964;
  --maize: #FFE74C;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Inter Tight', sans-serif;
}

body {
  background-color: var(--argentinian-blue);
}

h1,
h2,
h3,
h4 {
  font-weight: 800;
}

p, a {
  font-weight: 500;
}